body { margin: 0; padding: 0 }

.card {
  background-image: url('images/default-img.png');
  background-size: 100% auto ;
}

.card-active {
  background-image: url('images/cat-img-inprogress.png');
  background-size: 100% auto ;
}

.card-success {
  background-image: url('images/cat-img-success.png');
  background-size: 100% auto ;
}